<div>

    <!--TODO #7-->
    <p>firstName: <input type="text" ng-model="user.firstName"/></p>

    <p>lastName: <input type="text" ng-model="user.lastName"/></p>
    <p>id: <input type="text" ng-model="user.id"/></p>
    <p>age: <input type="number" ng-model="user.age"/></p>
</div>

<a class="btn btn-primary btn-lg" role="button" ng-click="back()">Back</a>
<a class="btn btn-primary btn-lg" role="button" ng-click="reset()">Reset</a>
<a class="btn btn-primary btn-lg" role="button" ng-click="save()">Save</a>
<a class="btn btn-primary btn-lg" role="button" ng-click="show()">Show/Hide</a>
